#mainJumbo {
  background-image: url("https://cdn-s3.si.com/images/karnazes-trail-running-mountain.jpg");
  background-size: cover;
}

#jumboApp {
  position: relative;
  top: 60px;
  right: 150px;
}

#jumboVoted {
  position: relative;
  top: 60px;
  right: 130px;
}

#mainNav {
  position: relative;
  bottom: 32px;
}

#FavContainer {
  display: block;
}

#NameContainer {
  display: none;
}

#PassContainer {
  display: none;
}

#ModContainer {
  display: none;
}